<h1>Order Confirmation</h1>

<p>Your order has been placed!</p>

<table>
    <tr>
        <td>Order ID:</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Member ID:</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Order Date:</td>
        <td>20/2/2001</td>
    </tr>
    <tr>
        <td>Required Date:</td>
        <td>16/2/2030</td>
    </tr>
    <tr>
        <td>Shipped Date:</td>
        <td>none</td>
    </tr>
</table>
